// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: 'Futura', sans-serif;
	font-size: 75px;
}

h2 {
	font-family: 'Futura', sans-serif;
	font-size: 35px;
  margin-bottom: 50px;
}

a {
  &:visited {
    outline: none;
    color: #389dc1;
  }
  &:hover {
    text-decoration: none;
  }
}

.title {
	font-size: 17px;
	
}

.gross {
	font-size: 17px;
}

img {
  width: 600px;
}

#button {
  color: white;
  font-size: 25px;

  background-color: black;
  border: 2px solid white;

  padding: 15px 30px;
  text-decoration: none;
}

#button:hover {
  color: rgb(229,177,58);
  border: 2px solid rgb(229,177,58);
}