// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: 'Futura', sans-serif;
	font-size: 75px;
}

h2 {
	font-family: 'Futura', sans-serif;
	font-size: 35px;
}
a {
  
  font-size: 25px;

  &:visited {
    outline: none;
    color: #389dc1;
  }
  &:hover {
    text-decoration: none;
  }
}

.title {
	font-size: 17px;
	
}

.gross {
	font-size: 17px;
}