body {
  font: 12px sans-serif;
  color: white;
  text-align: center;
}

svg {
	text-align: center;
}

.text {
	fill: white;
	font-size: 14px;
}

.movie rect {
  fill: black;
  stroke: white;
}

.movie text {
  fill: white;
}

.arc path {
	cursor: pointer;
	stroke: white;
	stroke-width: 2;
}

.display {
	position: absolute;
	top: 43%;
	left: 40%;
	z-index: 500;
}

#disp-0 {
	display: none;
}

#disp-1 {
	display: none;
}

#disp-2 {
	display: none;
}

#disp-3 {
	display: none;
}

#disp-4 {
	display: none;
}
#disp-5 {
	display: none;
}